body {
    font-family: sans-serif;
}

#robuckButton {
    margin-bottom: 10px;
}

#aboveButton {
    display: flex;
    gap: 20px;
    margin-top: -20px;
}

.small-text {
    font-size: small;
    color: grey;
}

#subwayVideo {
    position: absolute;
    right: 0;
    top: 0;
    width: 435px;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#logs {
    height: 200px;
    width: 50%;
    border: 2px black solid;
    padding: 10px;
    overflow-y: scroll;
}

#logs p {
    margin: 5px;
    margin-bottom: 20px;
}